<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登入失敗頁面</title>
    <!-- 引入靜態 CSS 文件 -->
    <link rel="stylesheet" href="/static/signinError.css?v=2" />
  </head>
  <body>
    <div class="error-container">
      <div class="welcomePage">失敗頁面</div>
      <div class="text">{{ message }}</div>
      <!-- 顯示錯誤訊息 -->
      <div class="back"><a href="/">返回首頁</a></div>
    </div>
  </body>
</html>
